{% extends "base1.html" %}
{% block content %}
    <h2 class="text-left">Animal Form</h2>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <table>
                {% for field in comment_form %}
                    <div class="col-md-offset-5">
                        <div class="form-group" align="left">
        {% csrf_token %}
                            <div class="form-group">
                                <tr>
                                    <td>{{ field.label_tag }}</td>
                                    <td>{{ field }}</td>
                                    <td>{{ field.errors }}</td>
                                </tr>
                            </div>

                        </div>
                    </div>
                {% endfor %}
    </table>
            <div align="left">
                <button class="btn btn-primary" type="submit">submit</button>
            </div>
        </form>


        <p class="text-left"><a href="/">Home</a></p>
    </div>
{% endblock %}