{% extends "base1.html" %}
{% block content %}
    <h2 class="text-center">Animal Form</h2>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

                    <div class="col-md-offset-5">
                        <div class="form-group" align="left">



                                <table>
                                    <div class="form-group" align="left">
                                    <tr>
                                        <td><h4>Caller Details</h4></td>
                                    </tr>
                                <tr>
                                    <td>Caller's name:</td>
                                    <td>{{ comment_form.caller_name }}*</td>
                                </tr>
                                    <tr>
                                        <td>Phone:</td>
                                        <td>{{ comment_form.caller_number }}*</td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td>{{ comment_form.caller_address }}*</td>
                                    </tr>
                                    <tr>
                                        <td>Suburb:</td>
                                        <td>{{ comment_form.suburb }}*</td>
                                    </tr>
                                    <tr>
                                        <td>Postcode:</td>
                                        <td>{{ comment_form.postcode }}</td>
                                    </tr>
                                    <tr>
                                        <td><h4>Animal Details</h4></td>
                                    </tr>
                                    <tr>
                                        <td>Encounter Location:</td>
                                        <td>{{ comment_form.encounter_location }}</td>
                                    </tr>
                                    <tr>
                                        <td>Encounter Date:</td>
                                        <td>{{ comment_form.encounter_date }}* (dd/mm/yy)</td>
                                    </tr>
                                    <tr>
                                        <td>Assumed species:</td>
                                        <td>{{ comment_form.species }}*</td>
                                    </tr>
                                    <tr>
                                        <td>Age group:</td>
                                        <td>{{ comment_form.age }}</td>
                                    </tr>
                                    <tr>
                                        <td>Brief description of injury/circumstances:</td>
                                        <td>{{ comment_form.injury_description }} </td>
                                    </tr>
                                    <tr>
                                        <td>Assigned Branch Coordinator:</td>
                                        <td>{{ comment_form.branch_coordinator }}</td>
                                    </tr>
                                    <tr>
                                        <td>Assigned Carer:</td>
                                        <td>{{ comment_form.carer }} </td>
                                    </tr>
                                    </div>
                                </table>


                        </div>
                    </div>

            <div align="center">
                <button class="btn btn-primary" type="submit">submit</button>
            </div>
        </form>


        <p class="text-center"><a href="/">Home</a></p>
    </div>
{% endblock %}