{% extends "base1.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>Record Number</td>
        <td>Picture</td>
        <td>Species</td>
    </tr>
    {% for item in query %}
        <tr>
            <td><a href="/view_animal/{{ item.pk }}">{{ item.species }}{{ item.pk }}</a></td>
            <td>{% if item.picture %}
                <a href="/view_animal/{{ item.pk }}"><img src="{{ item.picture.url }}" width="64"/></a>{% endif %}</td>
            <td>{{ item.get_species_display }}</td>
        </tr>
    {% endfor %}
</table>
<p><a href="/">Home</a></p>
</body>
{% endblock %}