{% extends "base1.html" %}
{% block content %}
    <h2 class="text-center">Animal Form</h2>
    <div class="container">

        <form method="post" enctype="multipart/form-data">
            {% for field in comment_form %}
                <div class="form-group" align="center">
        {% csrf_token %}
                    {{ field.label_tag }}
                    <div class="">
                        {{ field }}
                    </div>
                    {{ field.errors }}
                </div>
            {% endfor %}

            <p class="text-center"><a href="/">Home</a></p>
        </form>
    </div>

</html>
{% endblock %}