{% extends "base1.html" %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Title</h2>
        <div class="form-group" align="center">
<!--TODO THIS PAGE NEEDS TO BE CUSTOMISED FOR EACH RESPONSE AS IT IS QUITE ROBOTIC ATM-->
<p>The outcome of this {{ animal.get_species_display }} is {{ animal.get_status_display }}. This information has been
    sent to the appropriate branch coordinator for assessment</p>
{% if animal.status == 1 %}
    <p>You are now required to fill out this animal's form to ensure it's information is correct. You can do so <a
            href="/carer_edit_animal/{{ animal.pk }}">Here</a></p>
{% endif %}


<p><a href="/">Home</a></p>
        </div>
    </div>
{% endblock %}