<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <title>HomePage</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WildDex</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Selection <span class="caret"></span></a>
                        {% if user.is_superuser %}
                        <ul class="dropdown-menu">
                            <li><a href="/add_user/">Add User</a></li>
                            <li><a href="/admin/">Administration</a></li>
                        </ul>
                        {% endif %}
                        {% if user_type.b_carer %}
                            <ul class="dropdown-menu">
                                <li><a href="/carer_animal_table/">Check Database</a></li>
                            </ul>
                        {% endif %}
                        {% if user_type.b_office %}
                            <ul class="dropdown-menu">
                                <li><a href="/add_animal/">Add Animal</a></li>
                                <li><a href="/office_animal_table/">View Office Animal Database</a></li>
                            </ul>
                        {% endif %}
                        {% if user_type.b_branch_c %}
                            <ul class="dropdown-menu">
                                <li><a href="/branch_animal_table/">View Branch Animal Database</a></li>
                            </ul>
                        {% endif %}

                    </li>
                    <li><a>Welcome {{ user.username }}</a></li>
                    <li><a href="/logout/">Logout</a></li>
                {% else %}
                    <li><a href="/add_user/">Register Here</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}">About</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2  sidebar">
            <div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <p>WildDex
                    Worked for the Sydney Wildlife Group
                    Developed by Macquarie University

                </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>

                <p>If you are a new user of Wilddex,
                    please register your account by
                    an invitation code.
                </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
                <p>How to become a member of WildDex
                    please enter:
                </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%"><span class="sr-only">20% Complete</span></div>
                </div>
                <p>How to get your invitation code
                    please enter:
                </p>
                <div class="">
                    <img src="static/images/logo.png" class="img-responsive" alt="Responsive image">
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main jumbotron">
            <div class="rows">
                <div class="center-block">
{% if user.is_authenticated %}

    {% if user.is_superuser %}
        <p class="text-left">{% include "home_templates/admin_home.html" %}</p>
    {% endif %}
    {% if user_type.b_carer %}
        <p class="text-left">{% include "home_templates/carer_home.html" %}</p>
    {% endif %}
    {% if user_type.b_office %}
        <p class="text-left">{% include "home_templates/office_home.html" %}</p>
    {% endif %}
    {% if user_type.b_branch_c %}
        <p class="text-left">{% include "home_templates/branchc_home.html" %}</p>
    {% endif %}
{% else %}
    <p>
        {% if wrong_password %}
            Your Username or Password was incorrect.
        {% endif %}
        {% if disabled %}
            Your Account has been disabled.
        {% endif %}
    </p>
    </div>
    </div>
    <div class="container">
        　
        <form id="login_form" method="post" class="form-signin">
            <h2 class="form-signin-heading">Please Login</h2>
        {% csrf_token %}
            Username: <input class="form-control" placeholder="Username" id="id_username" maxlength="254"
                             name="username" type="text" required autofocus=""/>
        <br/>
            Password: <input type="password" class="form-control" placeholder="Password" id="id_password"
                             name="password" required/>
        <br/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            　
        </form>
    </div> <!-- /container -->
{% endif %}
            <div class="col-xs-3 span3">
                <img src="static/images/1.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class="col-xs-3 span3">
                <img src="static/images/2.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class="col-xs-3 span3">
                <img src="static/images/3.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class="col-xs-3 span3">
                <img src="static/images/4.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>