{% extends "base1.html" %}


{% block title %}Person Form{% endblock %}

{% block content %}
    <div class="container">
{% if registered %}
    <h2 class="text-center">thank you for registering!</h2>
    <a class="text-center" href="/">Return to your homepage.</a><br/>
{% else %}
    <h2 class="text-center">Register here!</h2>
    <h3 class="text-center">Step 2 of 2 :</h3>
    <div class="col-md-offset-4 main content clearfix">
    <form class="form-horizontal" method="post">

        <div class="form-group" align="left">
            {% csrf_token %}
            {% if reg_user.b_carer %}
                <h3>Carer:</h3>
                {{ carer_form.as_p }}
        {% endif %}
            {% if reg_user.b_office %}
                <h3>Office Volunteer:</h3>
                {{ office_form.as_p }}
            {% endif %}
            {% if reg_user.b_branch_c %}
                <h3>Branch Coordinator:</h3>
                {{ branch_c_form.as_p }}
            {% endif %}
        </div>
        <div align="left">
            <button class="btn btn-primary" type="submit">submit</button>
        </div>
    </form>
{% endif %}
        </div>
    </div>
{% endblock %}